<html>
<div class="top">
  <div class="buttons">
    <button id="1" class="headingButton2" (click)="buttonClick(1)">My Classes</button> -
    <button id="2" class="headingButton" (click)="buttonClick(2)">Past Classes</button>
  </div>
</div>
<div class="inside">
  <div style="position: relative; width: 100%; left: 0%;">
  <div class="names">
    Class-Name
  </div>
  <div class="names" style="left: 41%">
    Play-Date
  </div>
  <div class="names" style="left: 81%">
    Attendance
  </div>
</div>
  <br>
  <div class="classes">
    You don't have any class scheduled yet! Join a club and get your first class booked today.
  </div>
  <br>
  <div style="position: relative;background-color: grey;width:100%;height: 5px; padding: 0px 10px 0px 10px; top: -20px;">
  </div>
  <br>
  <div style="position: relative;background-color: darkgrey;width:100%;height: 10px; padding: 0px 10px 0px 10px; top: -40px;">
  </div>
  <br>
  <div style="position: relative; top: -40px; font-size: 20px; word-spacing: 20px;">
    <img src="/assets/pics/left-arrow.png" style="width: 10px;">     /
    <img src="/assets/pics/right-arrow.png" style="width: 10px;">
  </div>
</div>
</html>
